
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css");
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Lato", sans-serif;
  font-size: 14px;
}
.bg-purple{
  background: #8e00a3;
}
.container{max-width: 80%;}
.headerWrapper{border-bottom: 1px solid rgba(0,0,0,0.1);}
.headerWrapper .top-strip{padding:8px 0px}
.headerWrapper .top-strip p{color: #fff ;font-size: 12px;font-weight: 700;}
.headerWrapper .header{width: 100%;height: auto; padding: 10px 0px;}
.logoWrapper img{width:50%; height: 100px;}
.headerWrapper .header .part2 .countryDrop{display:flex;width: 150px; height: 60px;min-width: 150px ;text-align: left; justify-content:space-between !important;color: #000 !important;border: 1px solid rgba(0,0,0,0.2) !important;border-radius: 7px;padding: 10px 20px;}
.headerWrapper .header .part2 .countryDrop .label{font-size: 12px !important; text-transform: capitalize !important;color: rgba(0,0,0,0.7) !important;line-height: 16px;}
.headerWrapper .header .part2 .countryDrop .name{font-size: 14px !important; text-transform: capitalize !important;color: #233a95 !important; font-weight: 700; line-height: 16px;}
 .headerSearch{width: 60%;height:60px ; background: #f3f4f7; padding:10px ;position: relative;}
 .headerSearch input{background: transparent !important;outline: none !important;font-size: 14px; color: rgba(0,0,0,0.8); width: 100%; height: 40px; }
 .headerSearch button{position: absolute;top: 15px;right: 15px; z-index: 100; outline: none; border: none;font-size: 20px;min-width: 40px;width: 40px !important;height: 40 !important; border-radius: 50%;}
 .locationModal .MuiPaper-elevation{padding:25px;position: relative;}
 .locationModal .countryList{margin-bottom: 0px;max-height: 400px; overflow-y: scroll;overflow-x: hidden;}
 .locationModal .countryList li{width: 100%;list-style-type: none;}
 .locationModal .countryList li button{width:100%;text-transform: capitalize; color: #000;justify-content: flex-start !important;padding: 10px 15px;}
 .locationModal .countryList li button:active{background: #d7d7d7;}
 .locationModal .close_{position: absolute;top: 10px; right: 10px; color: #000 !important; min-width: 40px !important; width: 40px !important; height: 40px !important; border-radius: 50%;}
 ::-webkit-scrollbar{width:8px !important;height: 8px !important;}
 ::-webkit-scrollbar-thumb{background: #ccc !important;}
 ::-webkit-scrollbar-track{background: transparent !important;}
.part3 .circle{max-width:40px;width: 40px;height: 40px;border-radius: 50%;border: 1px solid #1515153a;background-color: #fff;margin: 5px; font-size: 25px;}
 .part3 .circle svg{font-size: 20px;}
.cartTab button{background: #fff1ee !important;}
.cartTab button svg{color: #ea2b0f !important;}
.cartTab .shopcart .count{position: absolute;max-width: 20px !important; width: 20px; height: 20px; border-radius: 50%; background-color: #ea2b0f;color: #fff;padding: 0px 6px; margin-left: 30px;margin-top: -40px;}
nav .allCatTab{background: #2bbef9; padding: 8px 20px !important; border-radius: 30px !important;}
nav .allCatTab:hover{background: #2bbef9;}
nav .allCatTab *{color: #fff;}
nav .allCatTab .text{font-weight: 600;}
nav .allCatTab svg{font-size: 22px !important;}
nav .allCatTab .icon1 svg{font-size: 22px !important;}
nav .allCatTab .icon2 svg{font-size: 22px !important;}
nav .navPart1 .cartWrapper{position: relative;}
nav .navPart1 .cartWrapper .sidebarNav{width: 100%;height: 0px; background: #fff;position: absolute; top: 123%;left: 0px;border: 1px solid rgba(0,0,0,0.1);opacity: 0;transition: all 0.2s ease-in-out;visibility: hidden;z-index: 100;}
nav .navPart1 .cartWrapper .sidebarNav.open{height: auto;opacity: 1;visibility: inherit;}
nav .navPart1 .cartWrapper .sidebarNav ul li{width: 100%; list-style: none;padding: 10px 15px;}
nav .navPart1 .cartWrapper .sidebarNav ul li button{color: #000;width: 100%;justify-content: flex-start;}
nav .navPart1 .cartWrapper .sidebarNav ul li{position: static;}
nav .navPart1 .cartWrapper .sidebarNav ul li .submenu{position: absolute; top: 0%;left: 101%;width: 250px;height:auto ; background: #fff;z-index: 100;opacity: 0;visibility: hidden;transition: all 0.2s ease-in-out;border-left: 1px solid rgba(0,0,0,0.1);}
nav .navPart1 .cartWrapper .sidebarNav ul li:hover .submenu{opacity: 1;visibility: inherit; left: 100%;}
nav .navPart2 ul{margin-bottom: 0px;}
nav .navPart2 ul li a{text-decoration: none;}
nav .navPart2 ul li a button{font-size: 16px;font-weight: 500; text-decoration: none;color: rgba(0,0,0,0.8);text-transform: uppercase;display: flex;align-items: center;padding:10px 20px; transition: all 0.2s ease-in-out; border-radius: 25px;}
nav .navPart2 ul li a button:hover{background: #f0faff;color:#2bbef9 ;} 
nav .navPart2 ul li{position: relative;}
nav .navPart2 ul li .submenu{position: absolute;top: 150%;left: 0px;min-width: 200px;opacity: 0;visibility: hidden; transition: all 0.2s ease-in-out;z-index: 100;background: #fff;}
nav .navPart2 ul li .submenu a{display: block;width: 100%;}
nav .navPart2 ul li .submenu a button{width: 100%; border-radius: 0px !important;justify-content: flex-start;}
nav .navPart2 ul li:hover .submenu{opacity: 1;visibility: inherit;top: 100%;}
.homeBannerSection{position: relative;overflow: hidden;}
.homeBannerSection .slick-arrow{position: absolute;top: 45%; z-index: 100; display: flex;justify-content: center;align-items: center;width: 40px !important; height: 40px !important;background: #000;}
.homeBannerSection .slick-arrow.slick-next{right:0px !important}
.homeBannerSection .slick-arrow.slick-prev{left:0px !important}
.cursor{
  cursor: pointer;
}
.homeProducts{padding: 25px 0px;width: 100%;}
.homeProducts .banner{width: 100%;border-radius: 7px; overflow: hidden;}
.text-light{color: #9d9d9d !important;}
.viewAllBtn{padding: 8px 15px !important;background: #fff;border: 1px solid rgba(0,0,0,0.1) !important; border-radius: 25px;color: #414141 !important;font-weight: 600;text-transform: capitalize;}
.productItem{width: 100%; height: auto;border: 1px solid rgba(0,0,0,0.1) ; cursor: pointer;position: relative;}
.productItem .badge{position: absolute; top: 10px;left: 10px; display: inline-block;z-index: 100;}
.productItem .info{padding: 15px;}
.productItem .info .oldPrice{font-size:16px; font-weight:bold;color: rgba(0,0,0,0.2);text-decoration: line-through;}
.productItem .info .netPrice{font-size:16px; font-weight:bold;}
.productItem .info h4{font-size: 18px; font-weight: 600;}
.product_row .item{border-right: 1px solid transparent !important;}
.badge-primary{background: #2bbef9 !important;}
.productItem .actions{position: absolute;top: 20px; right: -100%; z-index: 100;display: flex;flex-direction: column; gap: 10px;transition: all 0.3s ease-in-out;}
.productItem .actions button{display: flex; align-items: center;justify-content: center;min-width: 40px !important;height: 40px;width:40px;border: 1px solid rgba(0,0,0,0.1);border-radius: 50% !important; background: #fff;}
.productItem .actions button svg{color: #000;font-size: 20px;opacity: 0.8; pointer-events: none;}
.productItem .actions button:hover{background: #396cda;}
.productItem .actions button:hover svg{color: #fff;}
.productItem .imgWrapper{overflow: hidden;}
.productItem .imgWrapper:hover .actions{opacity: 1;right: 10px;}
.productItem .imgWrapper img{transition: all 0.3s ease-in-out;}
.productItem .imgWrapper:hover img{transform: scale(1.1);}




